<!DOCTYPE html>
<!-- 
Author : Sairam Rajulapati.
Date   : 3-June-2015.
Concept: Form Practice in Angular JS.
 -->
<html ng-app='myApp'>
<head>`
<meta charset="ISO-8859-1">
<title>{{title}}</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript">
//Create Angular Module
var myApp = angular.module('myApp',[]);

myApp.controller('myController',function($scope){
	
	
	$scope.master={};
	
	$scope.reset = function(){
		$scope.user  = angular.copy($scope.master);	
	}
	$scope.submit = function(user){
	    $scope.master  = angular.copy(user);	
	    $scope.user={};
	}
	
});
</script>
</head>
<body>
<div ng-controller="myController">

<form name="form" novalidate class="simple-form">
Name: <input type="text" ng-model="user.name" name="uname" required="" ng-init="user.name= 'sairam '"/><br />
<div ng-show="form.uname.$error.required">
User Name is Required !...
</div>
    E-mail: <input type="email" ng-model="user.email" name="email"/><br />
    <div ng-show="form.email.$dirty">
    Controller has been interacted( Type any thing) with Email...
    </div>
    <div ng-show="form.email.$pristine">
    Email hasn't been interacted yet! 
    </div>
    
    <div ng-show="form.email.$touched">
    Controller has been UnBlurred with it!
    </div>

    <div ng-show="form.email.$untouched">
    Controller hasn't been unBrEmail hasn't yet!
    </div>
    Contact <input type="text" ng-model="user.contact" ng-model-options="{updateOn:'blur'}"/><br/>
    {{user.contact}}<br/>
    Gender: <input type="radio" ng-model="user.gender" value="male" />male
    <input type="radio" ng-model="user.gender" value="female" />female<br />
    <button ng-click="reset()">Reset</button><br/>
    
    <button ng-click="submit(user)">submit</button><br/>
    Original {{user|json}}<br/>
    Master {{master|json}}<br/>

</form>

</br></br>
Form With validations 

<form name="regForm" >

Enter integer (min=10 max=100 ) : <input type="number" ng-model="size" name="size"
           min="0" max="10" integer />{{size}}<br />
    <span ng-show="form.size.$error.integer">The value is not a valid integer!</span>
</form>



</div>

</body>
</html>
